.second-needle{
    height: 90px;
    width: 1px;

    background-color: #5ff0ce;
    /* fallback */
    background-color: var(--theme-color);

    position: absolute;
    top:45%;
    left:50%;
}

@keyframes second-needle-animation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}