.first-plus{
    position: relative;
    animation-name: first-plus-animation;
    animation-delay: 5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes first-plus-animation {
    0%{
        font-size: 1rem;
        bottom:0px;
        left:0px;
    }
    33%{
        font-size: 1.5rem;
        bottom:0px;
        left:0px;
    }
    66%{
        font-size: 1.5rem;
        bottom:5px;
        left:0px;
    }
    100%{
        font-size: 1.5rem;
        bottom:5px;
        left:5px;
    }
}